

body{
  margin: 0;
  text-align: center;
    background-color: #EAF6F6;

}
.top{
  padding-top: 20px;

position: relative;
font-size: 30px;
}
.middle-container{
  font-size: 20px;
}
h1{
  display: inline-block;
    font-family: 'Tangerine', cursive;
    font-size: 90px;
    color:#000080;
}
h2{
  color: #66BFBF;
}
h3{
  color: #11999E;
}
a{
  color: #11999E;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
p{
  color:#000080;
    font-size: 15px;
}
hr{
  border: dotted 6px grey;
  border-bottom: none;
  width:5%;
  margin:100px auto;

}
.top-cloud{
  position: absolute;
    right:300px;
    top:100px;
}
.bottom-cloud{
  position:absolute;
  bottom: 100px;
  left:100px;
}
.third-cloud{
  position: absolute;
    right:200px;
    top:800px;
}
.fourth-cloud{
  position:absolute;
  top: 1200px;
  left:100px;
}
.mountain{
  margin:50px auto 100px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.coding{
  margin-right: 20px;
  float: left;
}
.cricket{
  margin-right: 20px;
  float: right;
}
.bottom-container{
  background-color: #C2B8A3;
}
.contact-me{
  background-color:#C2B8A3;

}


.btn {
  margin-bottom: 20px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #E8ECF1;
   font-family: Arial;
   font-size: 20px;
   font-weight: 200;
   padding: 12px;
   -webkit-box-shadow: 5px 1px 20px 0 #000000;
   -moz-box-shadow: 5px 1px 20px 0 #000000;
   box-shadow: 5px 1px 20px 0 #000000;
   text-shadow: -12px -45px 79px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_HFO:hover {
   border: solid #FFAE00 3px;
   background: #CAD8F0;
   background-image: -webkit-linear-gradient(top, #CAD8F0, #2586F3);
   background-image: -moz-linear-gradient(top, #CAD8F0, #2586F3);
   background-image: -ms-linear-gradient(top, #CAD8F0, #2586F3);
   background-image: -o-linear-gradient(top, #CAD8F0, #2586F3);
   background-image: -webkit-gradient(to bottom, #CAD8F0, #2586F3);
   -webkit-border-radius: 17px;
   -moz-border-radius: 17px;
   border-radius: 17px;
   text-decoration: none;
}
